.NavBar {
    background: #e3deaa;
    width: 100%;
    margin-bottom: 2.5rem;

    a {
        text-decoration: none;
        color: inherit;
    }

    .Container {
        padding: 1rem 5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .Branding {
            color: #a1a571;
            font-size: 2.2rem;
            text-transform: uppercase;
            font-style: italic;
            padding: 0;
        }

        .List {
            list-style: none;
            font-size: 1.6rem;

            .ListItem {
                position: relative;
                cursor: pointer;
                padding: 0.7rem 1.8rem;
                font-weight: 700;
                height: 100%;
                transition: all 0.5s ease;

                &::after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 0;
                    height: 2px;
                    width: 0;
                    overflow: hidden;
                    background: #706755;
                    transform: translateX(-50%);
                    transition: all 0.5s ease;
                    // transform-origin: right center;
                }

                &:hover {
                    color: #706755;
                    &::after {
                        width: 100%;
                    }
                }

                &.active {
                    color: #7c2760;
                    &::after {
                        background: #7c2760;
                        width: calc(100% - 3.6rem);
                    }
                }
            }
        }
    }
}
